$c-gray: #f5f5f5;
$c-sub-backgroud: #fff;
$c-border: #e2e2e2;
$c-primary: rgba(41, 51, 119, 0.83);
$c-normal-primary: #293377;
$c-danger: #e31f26;
$c-text-primary: #3b4251;
$c-text-color: #666666;
$c-btn-danger: #ea0d22;
$c-yellow: rgb(255, 202, 8);